@import "./variables";



.table{
    height: 500px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid $borderColor;
}

.table thead th {
    position: sticky; 
    background: $primaryColor;
    top: 0;
   }

.accessoriesTable{
    font-family: Oswald;
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    background-color: white;

    thead{
      
        background: $primaryColor;
       }
   
       tr {
         min-height: 50px;
         border-bottom: 1px solid $borderColor;
       }
   
       th, td {
         text-align: center;
         max-width: 100px;
         min-width: var(--minWidth);
       }
   
       td{
         height: 40px;
       }
   
       th {
         color: white;
         font-size: 14px;
         padding: 10px;
         text-transform: uppercase;
       }
   
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
  }
  .quantity_minus,
  .quantity_plus {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }

  .quantity_minus{
    background: lightsalmon;
  }

  .quantity_plus{
    background: lightgreen;
  }
  .quantity_minus:hover,
  .quantity_plus:hover {
    background: $primaryColor;
    color: #fff;
  } 
  .quantity_minus {
    border-radius: 3px 0 0 3px;
  }
  .quantity_plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity_input {
    width: 32px;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;
  }