@import './_variables';
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 10%;
    left: 0;
    z-index: 9;


    &__backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: -1;
    }

    .buttonDiv{
      width: 100%;
      text-align: right;
      height: auto;
    }
 
    &__close {
      cursor:pointer;
      font-size: 25px;
      text-decoration: none;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;

      &:hover{
        color: $primaryColor;
      }
    }
 
  }
