@import './_variables';


#scroller::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px gray;
	background-color: #F5F5F5;
	border-radius: 10px;
}

#scroller::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scroller::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: gray;
}


.buttonDiv{
   
    height: 70px;
    width: 70px;
}

.tableDiv{
    height: 600px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid $primaryColor;
}

.tableDiv thead th {
     position: sticky; 
     color: white;
     background: $primaryColor;
     top: 0;
    }

.addDevice{
    cursor: pointer;
    font-weight: 200;
    font-size: 40px;
    display:block;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid $borderColor;
  }

  .addDevice:hover{
    background: $primaryColor;
    color: white; 
    transition: 0.4s;
  }

.tabs_ul{
    display: flex;
    align-items:  center;
    justify-content: flex-start;
    border-bottom: 1px solid #dbdbdb;
    flex-grow: 1;
    flex-shrink: 0;
    
    margin-bottom: 20px;
}

.tabs_li{
    color: #000000;
    display: inline;
    font-size: 20px;
    padding: 5px;
    list-style: none;
    margin: 10px;
}

.tabs_li:hover{
    color: white;
    border-radius: 15px;
    background-color: $primaryColor;
}

.tabs_li_selected{
    margin: 10px;
    color: white;
    border-radius: 15px;
    background-color: $primaryColor;
    display: inline;
    font-size: 20px;
    padding: 5px;
    list-style: none;
    cursor: pointer;
}

.tabs_a{
    color: black;
    text-decoration: none;
}

.tabs_a_active{
    color: white;
    text-decoration: none;
}

.tabs_a:hover{

    color: white;
}

.inner-div{
    height: 85vh;
  width: 85vw;
  display: block;
  justify-content: center;
  padding: 25px;
  border-radius: 15px;
  margin-left: 11vw;  
  text-align: center;
  min-height: 800px;
  min-width: 1600px;
  background-color: white;

    a{
        text-decoration: none;
    }

    h4{
        padding-top: 5px;
        display: flex;
        font-size: 16px;
    }

    &_attributes
    {
        padding-top: 10px;
        text-align: left;
        border-top: 1px solid $borderColor;
        font-size: 18px;;
        display: flex;
        height: 55px;
    }

    &_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        
      }
      
      &_column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        height: 700px;
        flex: 1;

        &_layout_left{
            display: flex;
            flex-direction: column;;  
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;

            &_row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
              }
              
              &_column {
                  padding: 1rem;
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex: 1;
              }

              &_column_left {
                padding: 1rem;
              display: flex;
              flex-direction: column;
            }

              &_baseColumn{
                  height: 280px;
              }

              &_baseColumn_table{
                  padding: 1rem;
                  overflow: auto;
                height: 800px;
            }
              
        }

        &_layout_right{
            
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            width: 40%;
            padding: 2rem 13rem 16rem 11rem;
            box-sizing: border-box;
            border-radius: 15px;
            box-shadow: 1px 1px 1px 3px $primaryColor;
            height: 90%;
            z-index: 1;

            &_row{
                display: inline;
            }

            &_connector_L_R_UP{
                position: relative;
                padding: 0;
                margin: 0;
                background: #C0392B;
                width: 200px;
                bottom: 10px;
                height: 10px;
                z-index: -1;
                transform: rotate(145deg);
            }

            &_connector_R_L_UP{
                position: relative;
                padding: 0;
                margin: 0;
                background: #C0392B;
                width: 190px;
                height: 10px;
                left: 25px;
                bottom: 20px;
                z-index: -1;
                transform: rotate(37deg);
            }

            &_connector_R_L_Main{
                position: relative;
                padding: 0;
                margin: 0;
                background: #C0392B;
                width: 190px;
                height: 10px;
                left: 25px;
                bottom: 20px;
                z-index: -1;
                transform: rotate(145deg);
            }

            &_connector_R_UP{
                position: relative;
                padding: 0;
                margin: 0;
                background: #C0392B;
                width: 130px;
                height: 10px;
                bottom: 10px;
                left: 55%;
                z-index: -1;
                transform: rotate(90deg);
                
            }

            &_connector_L_UP{
                position: relative;
                padding: 0;
                margin: 0;
                background: #C0392B;
                width: 130px;
                height: 10px;
                bottom: 10px;
                right: 33px;
              
                z-index: -1;
                transform: rotate(90deg);
                
            }

            &_bubbleLabelLeft{
                top: 30px;
                right: 150px;
                width: 150px;
                position: relative;
            }

            &_bubbleLabelRight{
                top: 40px;
                left: 240px;
                width: 150px;
                position: relative;
            }

            &_bubble_blue{
                z-index: 7;
                float: left;
                cursor: pointer;
                background: #0054a6;
                width: 65px;
                height: 65px;
                border-radius: 50%;
                             
            }

            &_bubble_yellow{
                z-index: 7;
                float: right;
                cursor: pointer;
                background: #f1c40f;
                width: 65px;
                height: 65px;
                border-radius: 50%;
                             
            }
        }
      }

      label{
          top:10px
      }

      &_margin_bot{
          margin-bottom: 15px;
      }

      &_img-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border: 1px solid $borderColor;
        height: 300px;
        width: 300px;
        margin-bottom: 10px;
    
        img{
          
            height:100%;
            width: 100%;
        }

      }



  }

  