@import './_variables';

.navi_wrap {
  font-family: "Oswald";
  background-color: #ffffff;
  transition: 0.2s;
  height: 100vh;
  min-height: 800px;
  left: 0;
  border-radius: 0px 15px 15px 0px;
  z-index: 100;
  .badge {
      position: absolute;
      margin: 5px 0 0 25px;
      background-color: #0054A6;
      color: #ffffff;
      font-size: 16px;
      padding: 2px;
      min-width: 20px;
      min-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25%;
  }
  .toggle-menu {
      padding: 20px;
      cursor: pointer;
  }
  &.open {
      width: 18rem;
  }
  &.closed {
      width: 4.5rem;
      .navi_img,
      .link-text,
      .navi_students,
      .navi_trigger {
          display: none !important;
      }
  }
  .navi_link {
      display: flex;
  }
  .unselectable {
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      img {
          margin-right: 20px;
      }
      .navi_img {
          margin-right: auto;
      }
  }
  .navi_img {
      margin: auto;
      display: block;
      padding-top: 3rem;
      width: 12rem;
      cursor: pointer;
  }
  .navi_links {

      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 16rem;
      margin-left: 20px;
      margin-top: 4rem;
      a {
          font-size: 1.2rem;
          color: #5c5c5c;
          text-decoration: none;
          margin-top: 1.5rem;
          cursor: pointer;
          &:hover {
              color: #0054A6;
          }
      }
      .text_active {
          color: #0054A6;
        
          img {
              filter: invert(16%) sepia(52%) saturate(5362%) hue-rotate(198deg) brightness(97%) contrast(101%);
          }
          
      }
      .navi_trigger {
          display: inline-block;
          width: 0.7rem;
          margin-left: 10px;
      }
      .active {
          content: url('../assets/tick_active.svg')
      }
      .navi_students {
          display: none;
          color: #5c5c5c;
          ul {
              font-size: 0.72rem;
              list-style-type: none;
              width: auto;
          }
          li {
              display: flex;
              justify-content: space-between;
              width: 95%;
              padding: 0.5rem 0 0.5rem 0;
              cursor: pointer;
              &:hover {
                  color:#0054A6;
              }
          }
          .list_name {
              width: 55%;
          }
          .separator {
              color: #c4c4c4;
          }
          hr {
              border-top: 1px solid #c4c4c4;
              width: 100%;
              margin-left: -2.5%;
          }
      }
      .list_active {
          display: block;
      }
  }
}