.container {
  margin-right: 1rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .pdfButton {
  width: 100px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  height: 54px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.search .pdfButton:hover {
  background: #0054A6;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search .filter {
  width: 220px;
  height: 54px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  padding: .6em 1.4em .5em .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  border: none;
  outline: none;
}

.search .filter::-ms-expand {
  display: none;
}

.search .filter:hover {
  border-color: #888;
}

.search .filter:focus {
  outline-width: 0;
}

.search .searchInput {
  width: 600px;
  height: 54px;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
  font-size: 1.3rem;
  margin-top: auto;
  margin-bottom: auto;
  background: #FFFFFF;
  border: none;
  outline: none;
  background: url(../assets/search.svg) no-repeat 96% 52%;
  padding: 0 60px 0 20px;
}

.search .searchInput:hover {
  border-color: #888;
}

.search .centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .addDevice {
  cursor: pointer;
  font-size: 30px;
  display: block;
  height: 54px;
  width: 54px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.search .addDevice:hover {
  background: #0054A6;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.generaldata_container {
  font-family: "Oswald";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  height: 8rem;
  margin: 0 20px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generaldata_container .data_text {
  margin-right: 1rem;
}

.generaldata_container .data_text:last-child {
  margin: 0;
}

.innerDiv {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  min-height: 600px;
  max-height: 800px;
}

.pagination {
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 2px 4px;
  text-decoration: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.pagination .page {
  font-size: 18px;
  margin-right: 2px;
  margin-left: 2px;
}

.pagination .page:hover {
  background: #0054A6;
  color: white;
}

.pagination .pageSelected {
  font-size: 18px;
  margin-right: 2px;
  margin-left: 2px;
  background: #0054A6;
  color: white;
}

.pagination .arrow {
  font-size: 20px;
}

.pagination .arrow:hover {
  background: #0054A6;
  color: white;
}

.home_table {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.home_table thead {
  color: #c4c4c4;
}

.home_table tr {
  min-height: 50px;
  border-bottom: 1px solid #C4C4C4;
}

.home_table th, .home_table td {
  padding: 0px 7px 0px 7px;
  text-align: center;
  max-width: 250px;
  min-width: var(--minWidth);
}

.home_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.home_table th {
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
}

.home_table-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-width: 5px;
  margin: 2px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #C4C4C4;
}

.deviceInfo_table {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.deviceInfo_table thead {
  font-size: 15px;
  color: #c4c4c4;
}

.deviceInfo_table tr {
  min-height: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.deviceInfo_table th, .deviceInfo_table td {
  text-align: center;
  max-width: 250px;
  min-width: var(--minWidth);
}

.deviceInfo_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}

.deviceInfo_table th {
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
}

.deviceInfo_table img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-width: 5px;
  margin: 2px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #C4C4C4;
}
/*# sourceMappingURL=table.css.map */